.pricing {
    width: 100%;
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 110px;
        font-family: "Poppins", serif;
        font-weight: 600;
        font-size: 36px;
        line-height: 80px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            font-family: "Poppins", serif;
            font-weight: 600;
            font-size: 22px;
            line-height: 34px;
        }

        p {
            font-family: "Poppins", serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #8F95A5;
        }

        img {
            display: flex;
            flex: 1;
        }
    }

    &__btn {
        margin-top: 31px;
        button{
            width: 205px;
            height: 45px;
            border-radius: 5px;
           border: none;
           &:hover{
            box-shadow: 1px 1px 20px 1px rgb(161, 160, 160);
           }
        }
    }
}
@media(max-width:911px){
    .pricing {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            font-family: "Poppins", serif;
            font-weight: 600;
            font-size: 22px;
            line-height: 34px;
        }

        p {
            font-family: "Poppins", serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #8F95A5;
        }

        img {
            display: flex;
            flex: 1;
        }
    }

    &__btn {
        margin-top: 31px;
        button{
            width: 205px;
            height: 35px;
            border-radius: 5px;
           border: none;
           &:hover{
            box-shadow: 1px 1px 20px 1px rgb(161, 160, 160);
           }
        }
    }
}
}
@media(max-width:820px){
    .pricing {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
        }
        &__item {
            justify-content: center;
        }
    }
}
@media(max-width:580px){
    .pricing {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
        }
    }
}